/*
    Adding custom styling to Django Admin templates
    The aim of this is to normalize the colour model across the project
    and take away the django admin feel.
*/
{% load static %}

{# Form Login Background #}
#header
{
    background: #36599f;
}

{# Login button css #}
.button, input[type=submit], input[type=button], .submit-row input, a.button {
background: #36599f;
}
.button:hover, input[type="submit"]:hover, .submit-row input.default:hover {
    background: #fff;
    color: #36599f;
    border: 0.5px #36599f solid;
}

{# submit button  #}
.button.default, input[type="submit"].default, .submit-row input.default {
    background: #36599f;
}



{# Login Forgot Password CSS#}
a:link, a:visited {
    color: #36599f;
    text-decoration: none;
}

{# App headers index styling #}
.module h2, .module caption, .inline-group h2 {
    background: #36599f;
}

{# BreadCrumb styling #}
div.breadcrumbs {
    background: #36599f;
}

{# vertical filter select box #}
.selector-chosen h2
{
    background: #36599f !important;
}

{# add button #}
.object-tools a:link, .object-tools a:visited
{
    background: #36599f;
    color: #fff;
}

.object-tools a:hover, .object-tools a:hover
{
    color: #36599f;
}

{# Footer CSS fixing it to the bottom #}
footer
{
    background: #36599f;
    height: auto;
    min-height:50px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: auto;
    z-index:1000;
}


{# Nauman Arif''s thing #}
#naumys-link
{
    color:Tomato;
    font-size: 10px;
}
#naumys-link:hover
{
    color:#99ccff;
}


{# action button  #}
#changelist .actions .button
{

    background: #36599f !important;
    color:#fff !important;
    font-weight:bold;
}

#changelist:hover .actions .button:hover
{

    background: #fff  !important;
    color:#36599f !important;
    font-weight:bold;
}


{# Filter''s styling. Fixing the overflow affect of footer #}
#changelist-filter
{
    max-height:400px;
    overflow-y:auto;
}


{# background image for body #}
{# added a pseudo element to add styling #}
body::after {
  content: "";
  background: url("{% static 'luthfa/images/luthfa.png' %}");
  background-repeat: no-repeat !important;
  background-size: 100% auto ! important;
  opacity: 0.5;
  top: 10%;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}