{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}Covid Requirement and Resources | Khidmat & Zariya{% endblock %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>

</head>

<body>
{% include 'includes/navbar.html' %}

{% block content %}
{% endblock %}

{% include 'includes/footer.html' %}
<script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
{% block extrajs %}{% endblock %}

</body>
</html>
