{% extends 'base.html' %}

{% block content %}

<div class="row">
  <h3 class="center-align"> Important Links </h3>
  <div class="col s12 m4">
    <div class="card red">
      <div class="card-content white-text">
        <span class="card-title"></span>
        <p>Urgent Requirements</p>
      </div>
      <div class="card-action">
        <a class="white-text" href="#">Open</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card red">
      <div class="card-content white-text">
        <span class="card-title"></span>
        <p>Resources</p>
      </div>
      <div class="card-action">
        <a class="white-text" href="#">Open</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card red">
      <div class="card-content white-text">
        <span class="card-title"></span>
        <p>Doctors</p>
      </div>
      <div class="card-action">
        <a class="white-text" href="#">Open</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}