{% load static %}
<div class="navbar-fixed">

  <nav class="teal">
    <div class="nav-wrapper">
      <a href="{% url 'home' %}" class="brand-logo white-text">
        <img src="{% static 'khidmat/img/khidmat.png' %}" height="60"><br>
      </a>
      <a href="#" class="sidenav-trigger" data-target="mobile-nav">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'home' %}">
          <i class="material-icons left">home</i> Home</a>
        </li>
        <li>
          <a href="{% url 'requirement_list' %}">
            <i class="material-icons left">new_releases</i> Requirements</a>
        </li>
        <li><a href="{% url 'resource_list' %}">
          <i class="material-icons left">find_replace</i> Resources</a>
        </li>
<!--        <li><a href="collapsible.html">-->
<!--          <i class="material-icons left">healing</i> Doctors</a>-->
<!--        </li>-->
        {% if user.is_authenticated %}
        <!--        <li><a href="{% url 'account_email' %}">-->
        <!--          <i class="material-icons left">find_replace</i>Change E-mail</a>-->
        <!--        </li>-->
        <li><a href="{% url 'account_logout' %}">
          <i class="material-icons left">power_settings_new</i>Sign Out</a>
        </li>
        {% else %}
        <li><a href="{% url 'account_login' %}">
          <i class="material-icons left">account_circle</i> Sign In</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>


<ul class="sidenav teal" id="mobile-nav">
  <li><a href="#" class="white-text">
    <i class="material-icons left white-text">home</i> Home</a>
  </li>
  <li><a href="{% url 'requirement_list' %}" class="white-text">
    <i class="material-icons left white-text">new_releases</i> Requirements</a>
  </li>
  <li><a href="{% url 'resource_list' %}" class="white-text">
    <i class="material-icons left white-text">find_replace</i> Resources</a>
  </li>
<!--  <li><a href="collapsible.html" class="white-text">-->
<!--    <i class="material-icons left white-text">healing</i> Doctors</a>-->
<!--  </li>-->
  {% if user.is_authenticated %}
  <li><a href="{% url 'account_logout' %}" class="white-text">
    <i class="material-icons left white-text">power_settings_new</i> Sign Out</a>
  </li>
  {% else %}
  <li><a href="{% url 'account_login' %}" class="white-text">
    <i class="material-icons left white-text">account_circle</i> Sign In</a>
  </li>
  {% endif %}
</ul>

<script>
  	$(document).ready(function(){
 		$('.sidenav').sidenav();
 	});
</script>